DATABASE_URL="postgresql://user:your_password@localhost:5432/your_db"
PORT=3001

WHATSAPP_API_URL="your_evolution_api_url"
WHATSAPP_INSTANCE_NAME="your_istance_name"
WHATSAPP_API_KEY="sua-api-key-aqui"

# Secret Key para o JWT
JWT_SECRET="sua-chave-secreta-aqui"

# Credenciais do Admin Padrão (Seed)
DEFAULT_ADMIN_EMAIL="teste@mail.com"
DEFAULT_ADMIN_PASSWORD="teste"